.container {
  padding: 20px;
  display: flex;
}

.colLeft {
  width: 60%;
  padding: 20px;
  background-color: #faf9f8;
}
.colRight {
  width: 40%;
  padding: 20px;
}
.priceContainer {
  padding: 10px;
  background-color: #f4f3f0;
}
.singleImage {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
